header {
    flex-wrap: wrap;
}

header ul li:first-child a{
    padding-left: 0rem;
}

header p a{
    padding-right: 1rem;
}

a:hover{
    text-decoration: underline solid;
}

header p a:hover{
    text-decoration: none;
}

.list li {
    padding-bottom: 1rem;
}

.post-date {
    margin-top: 0px;
}

.meta-info {
    color: gray;
    padding-bottom: .5rem;
}

.post-title {
    margin-bottom: .5rem;   
}

.back {
    font-size: 14px;
    margin-top: 1rem;
}

.back a {
    text-decoration: none;
    color: gray;
}

.back a:hover {
    text-decoration: underline solid;
}